## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hilo,US,73.62,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,2,Torbay,CA,68.88,few clouds,47.6666,-52.7314,Gallows Cove
2,3,Avarua,CK,73.45,scattered clouds,-21.2078,-159.7750,Paradise Inn
3,5,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,7,Yenagoa,NG,73.72,overcast clouds,4.9247,6.2642,Aridolf Resort Wellness and Spa

In [6]:
clean_hotel_df=vacation_df.dropna()

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[(vacation_df["City"]=="Cheyenne") & (vacation_df["Country"]=="US")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Cheyenne") & (vacation_df["Country"]=="US")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="West Odessa") & (vacation_df["Country"]=="US")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Springdale") & (vacation_df["Country"]=="US")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Moberly") & (vacation_df["Country"]=="US")]

In [14]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
165,276,Cheyenne,US,81.77,clear sky,41.14,-104.8203,The Historic Plains Hotel & Restaurant

In [19]:
import numpy as np

In [89]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0][0],vacation_start[["Lat","Lng"]].to_numpy()[0][1]
end = vacation_end[["Lat","Lng"]].to_numpy()[0][0],vacation_end[["Lat","Lng"]].to_numpy()[0][1]
stop1 =vacation_stop1[["Lat","Lng"]].to_numpy()[0][0],vacation_stop1[["Lat","Lng"]].to_numpy()[0][1] 
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0][0],vacation_stop2[["Lat","Lng"]].to_numpy()[0][1]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0][0],vacation_stop3[["Lat","Lng"]].to_numpy()[0][1]

In [92]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure(center=(30,31),zoom_level=1.5)
direction_layer=gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [93]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,276,Cheyenne,US,81.77,clear sky,41.1400,-104.8203,The Historic Plains Hotel & Restaurant
1,335,West Odessa,US,88.41,clear sky,31.8424,-102.4988,Corporate Mobile Housing
2,384,Springdale,US,89.55,scattered clouds,36.1867,-94.1288,Springdale Inn
3,216,Moberly,US,89.58,clear sky,39.4184,-92.4382,Super 8 by Wyndham Moberly MO

In [94]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [103]:
# 11a. Add a marker layer for each city to the map.
fig=gmaps.figure(center=(30,31),zoom_level=1)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))